<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Increment</title>
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <style>
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button2 {background-color: #008CBA;} /* Blue */
.button3 {background-color: #f44336;} /* Red */
.button4 {background-color: #e7e7e7; color: black;} /* Gray */
.button5 {background-color: #555555;} /* Black */

   .text {
    width: 320px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0;
}

    #left_side {
    float: left;}
     #right_side {
    float: right;

        }
</style>
</head>
<body bgcolor="#ffe4c4">
<div align="center">
    <h1><label for="number" class="sr-only"> Counter</label></h1>
    <div id="result" style="font-size: x-large">
        {{ count_obj.increment }}

    </div>
    <div class="add-row">
        <button class="button" id ="increment">INCREASE</button>
        <button class="button button3" id="decrement">DECREASE</button>
    </div>


        <button class="button button2" id="greater_values">Number > 10</button>
        <button class="button button2" id="lesser_values">Number < 10</button>
        <button class="button button5" id="only-incremented">Only Incremented Numbers</button>
        <button class="button button5" id="only-decremented">Only Decremented Number</button>
        </div>

        <div class="text" id="left_side">

            <h3>Access Details:</h3>
        {% if count_obj %}
            <ol>

                {% for count  in records %}
                    <li>
                    ''{{ count.username }} {{ count.action_type }}{{ count.time }}''
                    </li>
                {% endfor %}


        {% endif %}



        </ol>
        </div>
        <div class="text" id="right_side">
            <h3> Details:</h3>
        <div id="grt">
            <p>Greater numbers:</p></div>
        <div id="lsr">
        <p>Lesser number:</p></div>
        <div id ="incremented">
        <p>Only incremented number:</p></div>
        <div id="decremented">
            <p>Only decremented number:</p></div>
        </div>





</body>
</html>
<script>
    var countId = "{{ count_obj.id }}";
    var countID = "{{ count_obj.id }}";
    var userId = "{{ user.id }}";


    $("#increment").click(function (evt) {
        $.ajax({
            url: '/practice/'+countId+'/',
            method: 'post',
            success: function (response) {
                $("#result").html(response.count);
            },
            error: function(response){
                alert("there was an error!!");
            }
        })
    });
    $("#increment").click(function(){
        $.ajax({
            url:'/userdetail/'+userId+'/',
            method:'post',
            success: function (response) {
                var result = response.user + " incremented at " + response.time +".<br>";
                $("ol").append(result);
            }
        })
    });
    $("#decrement").click(function(){
        $.ajax({
            url:'/reverse/'+countID+'/',
            method:'post',
            success: function (response) {
                $("#result").html(response.count);

            },
            error:function (response) {
                alert("there was an error!!");

            }
        })
    });
    $("#decrement").click(function () {
        $.ajax({
            url:'/userdetail/'+userId+'/',
            method:'post',
            success: function (response){
                var result = response.user+" decremented at "+response.time+".<br>";
                $('ol').append(result);
            },
            error:function (response) {
                alert("there is some error")

            }
        })

    });
    $("#greater_values").click(function () {
        $.ajax({
            url: '/arrangement/',
            method: 'post',
            success: function (response) {
                var result = response.greater;
                for(i=0;i<result.length;i++){$('#grt').append(result[i]["value"]+"<br>")}
            },
            error: function (response) {
                alert("error")

            }

        });
        $("#lesser_values").click(function () {
            $.ajax(
                {
                    url:'/arrangement/',
                    method:'post',
                    success: function (response) {
                        var result = response.lesser;
                        for(i=0;i<result.length;i++){$('#lsr').append(result[i]["value"]+"<br>")}


                    },
                    error: function (response) {
                        alert("error")

                    }
                }
            )
        })

    });
    $("#only-incremented").click(function () {
        $.ajax({
                url:'/inc_sorting/',
                method:'post',
                success: function (response) {
                    var res = response.result;
                    for(i=0;i<res.length;i++){ $('#incremented').append(res[i]["countid"]+" id is "+res[i]["action_type"])};





                },
            error: function (response) {
                    alert("error")

            }
            }
        )

    })
     $("#only-decremented").click(function () {
        $.ajax({
                url:'/dec_sorting/',
                method:'post',
                success: function (response) {
                    var res = response.results;
                    for(i=0;i<res.length;i++){ $('#decremented').append(res[i]["countid"]+" "+res[i]["action_type"]);}



                },
            error: function (response) {
                    alert("error")

            }
            }
        )

    })

</script>